#maincontainer{
	background-color: green;
	height: 60vh;
	width: 100%;
}

main {
	background-color: white;
	transition: all 0.5s ease;
}

.main-hide{
	margin-top: 40vh;
	opacity: 0;
}

body{
	background-color: black;
}

.iconholder {
	height: 28px;
	width: 28px;
	background-size: cover;
}

.share{
	margin-right: 15px;
	background-image: url('../images/icons/015-share.svg');
}

.heart{
	height: 24px;
	width: 24px;
	margin-left: 13px;
	margin-top: -3px;
	background-image: url('../images/icons/014-heart-shape-outline.svg');
}

.sleeps{
	height: 30px;
	width: 30px;
	margin: auto;
	margin-bottom: 10px;
	background-image: url('../images/icons/013-user-list.svg');
}

.bedrooms{
	height: 30px;
	width: 30px;
	margin: auto;
	margin-bottom: 10px;
	background-image: url('../images/icons/012-bed.svg');
}

.baths{
	height: 30px;
	width: 30px;
	margin: auto;
	margin-bottom: 10px;
	background-image: url('../images/icons/011-shower.svg');
}

.wifi{
	background-image: url('../images/icons/001-wifi.svg');
}

.hanger{
	background-image: url('../images/icons/002-hanger.svg');
}
.pets{
	background-image: url('../images/icons/003-paw-print.svg');
}
.microwave{
	background-image: url('../images/icons/004-microwave.svg');
}
.dishwasher{
	background-image: url('../images/icons/005-dishwasher.svg');
}
.hair{
	background-image: url('../images/icons/006-hair-dryer.svg');
}
.towel{
	background-image: url('../images/icons/007-towel.svg');
}
.parking{
	background-image: url('../images/icons/008-parking.svg');
}
.iron{
	background-image: url('../images/icons/009-iron.svg');
}
.beach{
	background-image: url('../images/icons/010-palm-tree.svg');
}

.row{
	margin: 0px;
}

.container {
	padding: 0px;
}

.space-top {
	margin-top: 20px;
}

.space-bottom {
	margin-bottom: 20px;
}

.space-10 {
	margin-top: 10px;
}

.header {
	
background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.65) 43%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(43%, rgba(0,0,0,0.65)), color-stop(100%, rgba(0,0,0,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.65) 43%, rgba(0,0,0,0) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.65) 43%, rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.65) 43%, rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.65) 43%, rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

width: 100%;
padding-top: 12px;
height: 120px;

	i {
		margin-left: 20px;
		margin-right: 20px;
		font-size: 28px;
		color: white;
	}

}

.brand {
	position: absolute;
	left: 50%;
	margin-left: - 57px;
	margin-top: -24px;


	icon {
		color: white;
		font-size: 20px;
	}
	img {
		width: 80px;
		display: inline;
		margin-left: 3px;
		margin-top: -3px;
	}
}

.no-mar{
	margin: 0px;
	display: inline;
}

.btn-primary {
	padding-top: 15px; 
	padding-bottom: 15px;
	width: 100%; 
}

.footer{
	position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding-bottom: 12px;
    padding-top: 12px;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(135,135,135,1);
	-moz-box-shadow: 0px -1px 5px 0px rgba(135,135,135,1);
	box-shadow: 0px -1px 5px 0px rgba(135,135,135,1);
	transition: all 0.5s ease; 
}


.img-360-footer {
	background-color: transparent;
	box-shadow: none;

	h3{
		color: white;
	}

	.flex-holder{
		color: white;
	}

	.rating::after{
		color: white;
	}

	*{
		transition: all 0.5s ease; 
	}
}

.footer-buffer {
	width: 100%;
	margin-top: 25%;
}

.flex-holder{
	display: flex;
	align-items: baseline;
}

.rating {
	margin-top: -12px;
}

.review {
	margin: 0px;
}

.review-count {
	margin-left: 92px;
	margin-top: -14px;
	position: absolute;
}

.heart-btn {
	.btn {
		border: 0px;
		box-shadow: 0px 0px 5px 0px rgba(135,135,135,1);
		padding: 0;
		padding-top: 5px;
		height: 50px;
		width: 50px;
		margin-left: 75%;
		icon {
			margin-top: 2px;
			margin-left: -2px;
			font-size: 28px;
			color: #ff4848;
		}
	}
	margin-top: -72px;
	border-radius: 50%;
}

.ovr-icons {
	text-align: center;

	h3{
		margin: 0px;
	}
}

.amenities {
	.col-xs-6{
		margin-bottom: 24px;
	}

	.iconholder {
		display: inline;
		position: absolute;
	}

	.am-text {
		margin-top: 5px;
		margin-left: 40px;
	}
}
.blk-bck {
	height: 90px;
	width: 90px;
	background-image: url('../images/owner-pic.jpeg');
	background-size: cover;
	background-position: center;
}

.img-360-header {
	margin-top: 0px;
}

.owner{
	margin-left: 25px;
	h4{
		margin: 0px;
	}
	button {
		margin-bottom: 10px;
	}
	display: flex;
}

.owner-details {
	padding-left: 25px;
	flex: 5 0 0;
}

.ownr-contact-btn {
	margin-top: 20px;
	width: 100%;
}

.360-container {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: black;
}

.fixed-top {
	position: absolute;
	width: 100%;
	z-index: 5;
}

.panolens-canvas{
	height: 100%;
}



